<article class="post" id="{{slug}}">
    <header>
        <a href="{{url}}">
            <h1>{{title}}</h1>
            <hr>
        </a>
    </header>
    {{content}}
    <footer>

    </footer>
</article>