<footer id="footer">
    <ul class="copyright">
        <li><span id="copyright-year"></span> &copy; <a href="http://lakto.design">LAKTO.design</a> by <a href="http://about.me/kilchenmann">Kilchenmann</a></li>
    </ul>
</footer>
