<footer id="footer">
    <ul class="copyright">
        <li><span id="copyright-year"></span> &copy; <a href="{{@blog.url}}">LAKTO.design</a> by <a href="/kilchenmann">Kilchenmann</a></li>
    </ul>
</footer>