{{!< default}}

{{#author}}
    <!-- Wrapper -->
    <div class="background" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}></div>

    <div class="wrapper">
        <!-- Main -->

        <section class="main" id="{{slug}}">

            <article class="post portrait">
                <img src="{{image}}">
            </article>
            <article class="post">
                <header>
                </header>
                {{bio}}
                <footer>

                </footer>
            </article>

        </section>

    </div>
{{/author}}