{{!< default}}

<!-- Wrapper -->
<div class="background" style="background-image: url({{asset "img/error-background.jpg"}})"></div>

<!-- Main -->
<div class="wrapper">
    <section class="main" id="error">
        <article>
            <header>
                <p>Error 404 | not found</p>
                <hr>
            </header>

            <h1 class='title'>The page you are looking for couldn't be found</h1>
            <footer>
                <hr>
                <p>
                    <a href='/'>&#8592; Go home</a>
                </p>
            </footer>
        </article>
    </section>
</div>