{{!< default}}

<main class="error" role="main">
    <div class="wrapper">
        <article class="post error center featured">
            <div class="post__wrapper--subpage">
                <div class='thumbnail'>
                    <img src="{{asset "images/error.jpg"}}">
                </div>
                <div class='post-content'>
                    <div class='category'>Error 404 | Page not found</div>
                    <h1 class='title'>This is not the page you are looking for.</h1>
                    <p class='description'></p>
                    <div class='post-meta'>
                        <span class='comments'>
                            <a href='/'>&#8592; Go back to the main page</a>
                        </span>
                    </div>
                </div>
            </div>
        </article>
    </div>
</main>