/* Icon */

.icon {
    text-decoration: none;
    position: relative;
    border-bottom: none;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon > .label {
    display: none;
}

/* List */

ol {
    list-style: decimal;
    margin: 0 0 1.5em 0;
    padding-left: 1.25em;
}

ol li {
    padding-left: 0.25em;
}

ul {
    list-style: disc;
    margin: 0 0 1.5em 0;
    padding-left: 1em;
}

ul li {
    padding-left: 1.25em;
    padding-right: 1.25em;
}

ul.alt {
    list-style: none;
    padding-left: 0;
}

ul.alt li {
    border-top: solid 1px #c8cccf;
    padding: 0.5em 0;
}

ul.alt li:first-child {
    border-top: 0;
    padding-top: 0;
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
    margin-top: -0.675em;
}

ul.icons li {
    display: inline-block;
    padding: 0.675em 0.5em;
}

ul.icons li a {
    text-decoration: none;
    position: relative;
    display: block;
    width: 3.75em;
    height: 3.75em;
    border-radius: 100%;
    border: solid 1px #c8cccf;
    line-height: 3.75em;
    overflow: hidden;
    text-align: center;
    text-indent: 3.75em;
    white-space: nowrap;
    background-size: 3.75em;
}

ul.icons li a.sm-pinterest {
    background-image: url('../icons/pinterest.jpg');
}

ul.icons li a.sm-pinterest:hover {
    background-image: url('../icons/pinterest-active.jpg');
}

ul.icons li a.sm-ello {
    background-image: url('../icons/ello.jpg');
}

ul.icons li a.sm-ello:hover {
    background-image: url('../icons/ello-active.jpg');
}

ul.icons li a.sm-codepen {
    background-image: url('../icons/codepen.jpg');
}

ul.icons li a.sm-codepen:hover {
    background-image: url('../icons/codepen-active.jpg');
}

ul.icons li a.sm-github {
    background-image: url('../icons/github.jpg');
}

ul.icons li a.sm-github:hover {
    background-image: url('../icons/github-active.jpg');
}

ul.icons li a:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

ul.icons li a:before {
    color: #ffffff;
    text-shadow: 1.25px 0px 0px #c8cccf, -1.25px 0px 0px #c8cccf, 0px 1.25px 0px #c8cccf, 0px -1.25px 0px #c8cccf;
}

ul.icons li a:hover:before {
    text-shadow: 1.25px 0px 0px rgb(104, 172, 255), -1.25px 0px 0px rgb(104, 172, 255), 0px 1.25px 0px rgb(104, 172, 255), 0px -1.25px 0px rgb(104, 172, 255);
}

ul.icons li a:before {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    font-size: 1.85rem;
    line-height: inherit;
    text-align: center;
    text-indent: 0;
}

ul.icons li a:hover {
    border-color: rgb(104, 172, 255);
}

@media screen and (max-width: 480px) {

    ul.icons li a:before {
        font-size: 1.5rem;
    }

}

ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.actions li {
    display: inline-block;
    padding: 0 0.75em 0 0;
    vertical-align: middle;
}

ul.actions li:last-child {
    padding-right: 0;
}

dl {
    margin: 0 0 1.5em 0;
}

dl dt {
    display: block;
    margin: 0 0 0.75em 0;
}

dl dd {
    margin-left: 1.5em;
}
